.Loader-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: 0 0 2em;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.loader svg {
  height: 200px;
}
