.EditProfile {
  padding: 0;
  margin: 0;
  height: fit-content;
}
.edit-heading {
  text-align: center;
}
.edit-content img {
  width: 12%;
  height: 12%;
  position: relative;
  left: 43%;
  padding: 0;
  margin: 0;
}
.user-img {
  position: relative;
  text-align: center;
  font-size: 24px;
}
.fname {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.report-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.report-form form input {
  text-align: center;
}

.report-form input::placeholder {
  text-align: center;
}
.submit {
  width: 30%;
  margin: 40px;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: 2px solid var(--theme1-100);
  position: relative;
  left: 30%;
}
.edit-form {
  padding: 20px;
}
.submit:hover {
  background-color: var(--theme1-100);
}

@media (min-width: 300px) and (max-width: 1080px) {
  .edit-content img {
    position: relative;
    right: 30%;
  }
  .user-img {
    position: relative !important;
    /* right:10% ; */
    text-align: center;
    /* width: 100vw; */
  }
  .submit {
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
}
