#EditProfile {
  padding: 0;
  margin: 0;
  height: fit-content;
  text-align: center;
}
.edit-heading {
  font-size: 55px;
  margin-top: 20px;
}

.edit-content img {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
.user-img {
  position: relative;
  text-align: center;
  font-size: 20px;
}
.fname {
  width: 70vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.report-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.report-form form input {
  text-align: center;
}

.report-form input::placeholder {
  text-align: center;
}

.submit {
  width: 120px;
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  border-radius: 12px;
  border: 2px solid var(--theme1-100);
  text-align: center;
  transition: all 0.3s;
}

.edit-form {
  margin-top: 30px;
}


.submit:hover {
  background-color: var(--theme1-100);
  color: white;
}

#profile-img-inp {
  display: none;
}

#profile-img-inp-label {
  margin-top: 10px;
}

#profile-img-inp-label #label-text {
  text-decoration: underline;
  cursor: pointer;
}

#profile-img-inp-label:hover {
  color: #12a4d9;
}

#choosen-file {
  text-decoration: none;
}


@media (min-width: 300px) and (max-width: 1080px) {
  .user-img {
    position: relative;
    text-align: center;
  }
  .submit {
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .fname {
    width: 85vw;
  }

  .submit {
    width: 150px;
  }
}
