.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContainer {
  width: 80%;
  margin: auto;
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 2px 2px 20px rgb(200, 200, 200);
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left img {
  width: 80%;
  margin-bottom: 1rem;
}

.right {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eye1,
.eye2 {
  cursor: pointer;
  height: 26px;
  width: 26px;
  position: absolute;
  right: 12%;
  bottom: 44%;
}

.eye2 {
  bottom: 23%;
}

.eye1 img,
.eye2 img {
  width: 100%;
}

.right form {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 2rem 0;
  position: relative;
}

.right form input {
  margin: 1rem auto;
  width: 80%;
  border-bottom: 2px solid var(--theme2-100);
  background-size: 32px;
  background-repeat: no-repeat;
  text-indent: 36px;
  padding: 5px 3px;
  transition: 0.3s;
}

.right form input.name {
  background-image: url("../../assets/icons/user.png");
}

.right form input.email {
  background-image: url("../../assets/icons/email.png");
}

.right form input.password {
  background-image: url("../../assets/icons/password.png");
}

.right form input:focus,
.right form input:not(:placeholder-shown) {
  background-image: none;
  text-indent: 0px;
}

.right form button {
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: var(--theme4-100);
}

.icons img {
  width: 35px;
  margin: 0 0.5rem;
}

.errorMsg {
  color: rgb(255, 86, 86);
  margin-bottom: -1rem;
  text-align: center;
}

.signedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signedIn h2 {
  font-size: 4rem;
}

.signedIn a {
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: var(--theme4-100);
}

.externalLinks{
}

@media only screen and (max-width: 1024px) {
  .left {
    width: 40%;
  }

  .right {
    width: 60%;
  }

  .icons img {
    height: 28px;
    width: 28px;
  }
}

@media only screen and (max-width: 815px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }

  .icons img {
    height: 19px;
    width: 19px;
    margin: 5px;
  }
  .right form button {
    margin: auto;
    padding: 0.7rem 1.5rem;
  }
}

@media only screen and (max-width: 583px) {
  .signupContainer {
    width: 95%;
  }

  .right form input {
    width: 100%;
  }

  .errorMsg {
    font-size: 0.8rem;
  }
}
